web/WEB-INF/wsdl/localhost_8080/ServicioWebSigloXXI/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServicioWeb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServicioWeb/">

<xs:element name="ListaMesaWS" type="tns:ListaMesaWS"/>

<xs:element name="ListaMesaWSResponse" type="tns:ListaMesaWSResponse"/>

<xs:element name="ListaReserva" type="tns:ListaReserva"/>

<xs:element name="ListaReservaResponse" type="tns:ListaReservaResponse"/>

<xs:element name="ListaReservaWS" type="tns:ListaReservaWS"/>

<xs:element name="ListaReservaWSResponse" type="tns:ListaReservaWSResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="ListaMesaWS">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListaMesaWSResponse">
<xs:sequence>
<xs:element name="return" type="tns:mesa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mesa">
<xs:sequence>
<xs:element name="activo" type="xs:unsignedShort"/>
<xs:element name="estado" type="xs:unsignedShort"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nr_mesa" type="xs:int"/>
<xs:element name="usuarioRol_ID_ROL" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioRut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaReservaWS">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListaReservaWSResponse">
<xs:sequence>
<xs:element name="return" type="tns:reserva" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="activo" type="xs:unsignedShort"/>
<xs:element name="clienteid" type="xs:int"/>
<xs:element name="estado" type="xs:unsignedShort"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="fInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fTermino" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListaReserva">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListaReservaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reserva" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>