src/conf/xml-resources/web-service-references/WSServicios/wsdl/localhost_8080/ServicioWeb/WSServicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServicioWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServicioWeb/" name="WSServicios">
<types>
<xsd:schema>
<xsd:import namespace="http://ServicioWeb/" schemaLocation="http://localhost:8080/ServicioWeb/WSServicios?xsd=1"/>
</xsd:schema>
</types>
<message name="AgregarReserva">
<part name="parameters" element="tns:AgregarReserva"/>
</message>
<message name="AgregarReservaResponse">
<part name="parameters" element="tns:AgregarReservaResponse"/>
</message>
<message name="ListarMesa">
<part name="parameters" element="tns:ListarMesa"/>
</message>
<message name="ListarMesaResponse">
<part name="parameters" element="tns:ListarMesaResponse"/>
</message>
<message name="ListarReserva">
<part name="parameters" element="tns:ListarReserva"/>
</message>
<message name="ListarReservaResponse">
<part name="parameters" element="tns:ListarReservaResponse"/>
</message>
<portType name="WSServicios">
<operation name="AgregarReserva">
<input wsam:Action="http://ServicioWeb/WSServicios/AgregarReservaRequest" message="tns:AgregarReserva"/>
<output wsam:Action="http://ServicioWeb/WSServicios/AgregarReservaResponse" message="tns:AgregarReservaResponse"/>
</operation>
<operation name="ListarMesa">
<input wsam:Action="http://ServicioWeb/WSServicios/ListarMesaRequest" message="tns:ListarMesa"/>
<output wsam:Action="http://ServicioWeb/WSServicios/ListarMesaResponse" message="tns:ListarMesaResponse"/>
</operation>
<operation name="ListarReserva">
<input wsam:Action="http://ServicioWeb/WSServicios/ListarReservaRequest" message="tns:ListarReserva"/>
<output wsam:Action="http://ServicioWeb/WSServicios/ListarReservaResponse" message="tns:ListarReservaResponse"/>
</operation>
</portType>
<binding name="WSServiciosPortBinding" type="tns:WSServicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AgregarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarMesa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSServicios">
<port name="WSServiciosPort" binding="tns:WSServiciosPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb/WSServicios"/>
</port>
</service>
</definitions>