src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/ServicioWebSigloXXI/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServicioWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServicioWeb/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://ServicioWeb/" schemaLocation="http://localhost:8080/ServicioWebSigloXXI/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ListaReserva">
<part name="parameters" element="tns:ListaReserva"/>
</message>
<message name="ListaReservaResponse">
<part name="parameters" element="tns:ListaReservaResponse"/>
</message>
<message name="ListaReservaWS">
<part name="parameters" element="tns:ListaReservaWS"/>
</message>
<message name="ListaReservaWSResponse">
<part name="parameters" element="tns:ListaReservaWSResponse"/>
</message>
<message name="ListaMesaWS">
<part name="parameters" element="tns:ListaMesaWS"/>
</message>
<message name="ListaMesaWSResponse">
<part name="parameters" element="tns:ListaMesaWSResponse"/>
</message>
<portType name="Servicios">
<operation name="hello">
<input wsam:Action="http://ServicioWeb/Servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ServicioWeb/Servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ListaReserva">
<input wsam:Action="http://ServicioWeb/Servicios/ListaReservaRequest" message="tns:ListaReserva"/>
<output wsam:Action="http://ServicioWeb/Servicios/ListaReservaResponse" message="tns:ListaReservaResponse"/>
</operation>
<operation name="ListaReservaWS">
<input wsam:Action="http://ServicioWeb/Servicios/ListaReservaWSRequest" message="tns:ListaReservaWS"/>
<output wsam:Action="http://ServicioWeb/Servicios/ListaReservaWSResponse" message="tns:ListaReservaWSResponse"/>
</operation>
<operation name="ListaMesaWS">
<input wsam:Action="http://ServicioWeb/Servicios/ListaMesaWSRequest" message="tns:ListaMesaWS"/>
<output wsam:Action="http://ServicioWeb/Servicios/ListaMesaWSResponse" message="tns:ListaMesaWSResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaReservaWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaMesaWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/ServicioWebSigloXXI/Servicios"/>
</port>
</service>
</definitions>