web/WEB-INF/wsdl/localhost_8080/ServicioWeb/WSServicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServicioWeb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServicioWeb/">

<xs:element name="AgregarReserva" type="tns:AgregarReserva"/>

<xs:element name="AgregarReservaResponse" type="tns:AgregarReservaResponse"/>

<xs:element name="ListarMesa" type="tns:ListarMesa"/>

<xs:element name="ListarMesaResponse" type="tns:ListarMesaResponse"/>

<xs:element name="ListarReserva" type="tns:ListarReserva"/>

<xs:element name="ListarReservaResponse" type="tns:ListarReservaResponse"/>

<xs:complexType name="AgregarReserva">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="inicio" type="xs:string" minOccurs="0"/>
<xs:element name="termino" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarReservaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarMesa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarMesaResponse">
<xs:sequence>
<xs:element name="return" type="tns:mesa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mesa">
<xs:sequence>
<xs:element name="activo" type="xs:unsignedShort"/>
<xs:element name="estado" type="xs:unsignedShort"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nr_mesa" type="xs:int"/>
<xs:element name="usuarioRol_ID_ROL" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioRut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListarReserva">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarReservaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reserva" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="activo" type="xs:unsignedShort"/>
<xs:element name="clienteid" type="xs:int"/>
<xs:element name="estado" type="xs:unsignedShort"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="fInicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fTermino" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>